.subscribe-button{
        background-color: rgb(231, 11, 11);
        color: white;
        border: none;
        height: 36px;
        width: 100px;
        border-radius:2px;
        cursor:pointer;
        transition: opacity 0.15s;
    }
    .subscribe-button:hover{
        opacity: 0.5;
        
    }
    .subscribe-button:active{
        background-color: green;
    }
    .join-button{
        background-color: white;
        border-color:rgb(41,118,211);
        border-style:solid;
        color:blue;
        height:36px;
        width:100px;
        border-radius:2px;
        cursor:pointer;
        margin-left: 8px;
        transition: background-color 1s;
    }
    .join-button:hover{
        background-color:rgb(41,118,211);
        color:white;
      
    }
    .join-button:active{
        opacity:0.7;
    }
    .tweet{
        background-color: rgb(29, 161, 242);
        color: white;
        font-size: large;
        border: none;
        height: 36px;
        width: 100px;
        border-radius:20px;
        cursor:pointer;
        font-weight: bold;
        margin-left:8px;
        transition: box-shadow 0.3s;
    }
            
            .tweet:hover{
                 box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
            }