.video-title{
        font-family:Arial ;
        font-size:18px;
        font-weight: bold;
        width:300px;
        line-height:24px;
        margin-bottom: 20px;
    }
    .video-stats{
        font-family: Arial;
        font-size: 14px;
        color:rgb(96,96,96);
        margin-top: 0px;
        margin-bottom: 20px;

            }
            .video-author{
        font-family: Arial;
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 20px;
         color:rgb(96,96,96);
            }
            .video-body{
        font-family: Arial;
        font-size: 14px;
        margin-top: 0px;
       margin-bottom:100px;
        width: 280px;
        line-height: 20px;
 color:rgb(96,96,96);

            }
            .apple-text{
                font-family: Arial;
              font-size:15px;
              margin-bottom: 50px;
              background-color: rgb(227,65,64);
              color: white;
              line-height: 40px;
              padding-left: 400px;
              padding-right: 10px;
              padding-top: 10px;
              padding-bottom: 10px;
            }
            .shop-now:hover{
                text-decoration: underline;
                cursor: pointer;
            }
          